.App {
  text-align: center;
}

#drum-machine, #display {
  display: flex;
  justify-content: center;
  align-items: center;
}

#drum-machine {
  height: 100vh;
  width: 100vw;
  background-color: grey;
}

#display {
  display: flex;
  border: 3px solid black;
  padding: 30px;
}

#drum-pads {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.drumPad {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  padding: 3px;
}

.drumPad > button {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 0px;
  border: 1px solid black;
  background-color: white;
  color: green;
  border-radius: 8px;
  box-shadow: 4px 4px 2px black;
}

button:focus {
  outline: none;
}

button:active {
  background-color: red;
}
