
#drum-machine, #display {
  display: flex;
  justify-content: center;
  align-items: center;
}

#drum-machine {
  height: 100vh;
  width: 100vw;
  background-color: #cb5f2b;
}

#display {
  display: flex;
  border: 3px solid #d69335;
  padding: 30px;
  background-color: #eba786;
  border-radius: 8px;
  height: 50%;
  width: 50%;
}

#drum-pads {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.drumPad {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  padding: 3px;
}

 button {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 0px;
  border: none;
  background-color: #cf6a39;
  color: #d69335;
  font-size: 1.5em;
  font-weight: bold;
  border-radius: 8px;
  box-shadow: 4px 4px 2px black;
  border: 2px solid #d69335;
}

#controls {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 80%;
  min-height: 170px;
  max-height: 200px;
  margin: 10px;
}

#controls > button {
  margin-top: 5px;
  margin-bottom: 5px;
}

button:focus {
  outline: none;
}
