
#drum-machine, #display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: "Franklin Gothic Heavy";
  font-size: 8vh;
  text-align: center;
  color: #d69335;
  text-shadow: 4px 4px 2px black;
  -webkit-text-stroke: 1px black;
}

#drum-machine {
  height: 100vh;
  width: 100vw;
  background-color: #cb5f2b;
}

#display {
  display: flex;
  flex-direction: row;
  border: 3px solid #d69335;
  background-color: #eba786;
  border-radius: 8px;
  height: 40%;
  width: 40%;
  padding: 30px;
}

#drum-pads {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  height: 87.5%;
  width: 87.5%;
  max-width: 35vh;
}

.drumPad {
  display: flex;
  justify-content: center;
  align-items: center;
  /*height: 50px;
  width: 50px;*/
  padding: 3px;
}

 button {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 0px;
  border: none;
  background-color: #cf6a39;
  color: #d69335;
  font-size: 6vh;
  font-weight: bold;
  border-radius: 8px;
  box-shadow: 4px 4px 2px black;
  border: 2px solid #d69335;
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  button {
     font-size: 16px;
  }
}

#controls {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 87.5%;
  max-height: 100%;
  width: 87.5%;
  max-width: 35vh;
  margin: 10px;
}

#controls > button {
  margin-top: 5px;
  margin-bottom: 5px;
}

button:focus {
  outline: none;
}

input[type=range] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #cf6a39;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 2px solid #d69335;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #cf6a39;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #cf6a39;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 2px solid #d69335;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #cf6a39;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #cf6a39;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range]::-ms-fill-upper {
  background: #cf6a39;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 2px solid #d69335;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #cf6a39;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #cf6a39;
}
input[type=range]:focus::-ms-fill-upper {
  background: #cf6a39;
}

footer {
  margin: 5px;
  color: #d69335;
}
